@charset "UTF-8";
*{margin: 0; padding: 0;}
ul,ol{list-style: none;}
a{text-decoration: none; color: #3d3d3d;}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.hide{
    display: none;
}
body{
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'NanumSquareRound';
    font-weight: bold;
}
/*Header_PC_S*/
/*hide*/
.main_banner_{
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.main_banner img_{
    width: 100%;
    height: 100%;
    display: block;
}
/*hide*/

.header{
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.header h1{
    width: 15%;
    float: left;
    position: absolute;
    top: 15%;
    left: 1%;
    z-index: 999;
}
.gnb{
    width: 60%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 60%;
    left: 22%;
    z-index: 999;
}
.gnb li a{
    display: block;
    color: #fff;
    letter-spacing: 2px;
    font-size: 14px;
}
.util{
    width: 20%;
    overflow: hidden;
    position: absolute;
    top: 5%;
    right: 1%;
    z-index: 999;
    font-size: 12px;
    text-align: center;
}
.util li{
    width: 25%;
    float: left;
    box-sizing: border-box;
}
.util li a{
    display: block;
    color: rgba(255, 255, 255, 1);
    font-weight: 100;
}
.util li img{
    display: inline-block;
}
.util li:nth-child(2) img{
    padding-top: 2px;
}
.icon{
    height: 30px;
    margin-bottom: 2px;
}
.search_bar{
    width: 20%;
    float: left;
    text-align: right;
    position: absolute;
    top: 55%;
    right: 1%;
    z-index: 999;
}
.search_bar img{
    display: inline-block;
    width: 60%;
}
/*header_pc_F*/

/*Header_Section1_S*/
.section{
    width: 1200px;
    margin: 0 auto;
}
#section1_wrap{
    background: url(../images/section1/main_section1_bg.png) no-repeat center;
}
/*Header_Section1_F*/